{{#> layouts/base }}
  {{#*inline "content-block"}}
    {{> components/h1 text="Redefinição de senha"}}

    <p>Olá, {{name}}!</p>

    <p>
      Recebemos o seu pedido de redefinição de senha da Plataforma MeuPetIdeal.
      Para redefinir a sua senha, basta clicar no link abaixo:
    </p>

    <p>
      {{> components/link url=link}}
    </p>

    <p>
      Após clicar no link, você será redirecionado para uma página onde poderá
      criar uma nova senha. Lembre-se de escolher uma senha forte e segura, que
      não seja fácil de adivinhar.
    </p>

    <div style="margin-top: 40px;">
      {{> components/h2 text="Dúvidas frequentes"}}

      {{> components/h3 text="Não solicitei a redefinição da senha. O que devo fazer?"}}

      <p>
        Se você não solicitou a redefinição da senha, por favor, ignore este
        e-mail. Se você acredita que alguém tenha acesso à sua conta, por favor,
        entre em contato com a nossa equipe.
      </p>

      {{> components/h3 text="Quanto tempo o link de redefinição da senha fica disponível?"}}

      <p>
        O link de redefinição da senha fica disponível por 2 horas a partir da
        data de recebimento do e-mail. Depois desse período, ele expira e não
        poderá mais ser utilizado para redefinir a senha, sendo necessário
        gerar um novo link de redefinição.
      </p>

      {{> components/h3 text="Como posso escolher uma senha forte e segura?"}}

      <p>
        Para escolher uma senha forte e segura, é importante que ela tenha no
        mínimo 8 caracteres, incluindo letras maiúsculas, minúsculas, números e
        símbolos. É recomendável evitar palavras comuns ou informações
        pessoais, como nomes de familiares ou data de nascimento. Além disso, é
        importante não compartilhar a senha com outras pessoas e alterá-la
        regularmente.
      </p>
    </div>
  {{/inline}}
{{/layouts/base}}
